
article.card{
    box-shadow: 0px 0px 55px -8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 13rem;
    border-radius: .4rem;
    padding: .7rem .2rem;
}
article.card--liked{
    border: 1px solid var(--primary-color);
    box-shadow: 0px 0px 29px 0px #c1d72f3a;
}

.card__container-avatar{
    height: 7rem;
    width: 7rem;
    border-radius: 100%;
    display: grid;
    place-content: center;
    overflow: hidden;
    margin-bottom: .5rem;
}

.card__container-avatar--liked{
    border: 5px solid var(--primary-color);
}

.card__container-avatar img{
    margin: 0 auto;
}

.card__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    text-align: center;
}
.card__content small{
    color: rgba(0, 0, 0, 0.744);
}
.card__footer{
    margin-top: 1rem;
}
.card__footer hr{
    width: 8rem;
    margin: 0 auto;
    height: 1.6px;
    background-color: rgba(204, 204, 204, 0.44);
    border-radius: 1px;
    border: none;
    margin-bottom: .5rem;   
}

.card__footer__button{
    display: flex;
    align-items: center;
    gap: .6rem;
    border: 2px solid var(--primary-color);
    background: none;
    border-radius: .2rem;
    padding: .4rem;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease;
}
.card__footer__button:hover{
    background-color: #c1d72f65;
}

.card__footer__button svg{
    height: .8rem;
}

.card__footer__button svg path{
    fill: var(--primary-color);
}


.card__footer__button--liked{
    color: var(--warning-color);
    border-color: var(--warning-color);
}



.card__footer__button--liked:hover{
    background-color: #cf667947;
}

.card__footer__button--liked svg path{
    fill: var(--warning-color);
}

.card--animation--in {
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.card--animation--out {
    animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes scale-out-center {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 1;
    }
}
@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
