.header-section{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem ;
    
}

.header-section__title{
    font-size: 1.4rem;
    font-weight: 500;
    width: 15rem;
    color: var(--secondary-color);
}

.header-section__line{
    width: 100%;
    height: .2rem;
    border-radius: .1rem;
    background-color: var(--primary-color);
    border: none;
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .header-section__title{
        font-size: 1.8rem;
    }

    .header-section__line{
        height: .23rem;

    }

}