.favorites__empty{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0 2rem;
}

.favorites__empty p.favorites__empty__text{
    font-size: 1rem;
    color: var(--text-light-color);
    text-align: center;
}

.favorites__empty svg{
    
    height: 1.6rem ;
    width: 1.6rem;

}
.favorites__empty svg path{
    fill:var(--text-light-color) ;
}


/* Desktop */
@media screen and (min-width: 1024px) {

    .favorites__empty p.favorites__empty__text{
        font-size: 1.5rem;
    }

}