.contacts_empty{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0 2rem;
}

.contacts_empty p.contacts_empty__text{
    font-size: 1.5rem;
    color: var(--text-light-color);
    text-align: center;
}

.contacts_empty svg{
    height: 1.6rem ;
    width: 1.6rem;
} 

.contacts_empty  svg path{
    fill:var(--text-light-color) ;
}